.button {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: -moz-linear-gradient( 90deg, rgb(65,152,225) 0%, rgb(55,133,255) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(65,152,225) 0%, rgb(55,133,255) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(65,152,225) 0%, rgb(55,133,255) 100%);
    padding-left: 6px;
    padding-right: 13px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 4px;
}

.button > div > div {
    background-color: transparent;
}

.bubble, .label {
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.bubble {
    width: 41.5%;
    height: 100%;
}

.label {
    color: white;
    margin-top: 11%;
    width: 58%;
    font-family: "Proxima N W01 Bold", serif;
    font-size: 13px;
    white-space:nowrap;
}