.listItem {
    display: block;
    margin-bottom: 15px;
    position: relative;
}

.listItem .avatar, .listItem .content {
    display: inline-block;
    vertical-align: top;
}

.listItem .content {
    padding-left: 15px;
    padding-top: 10px;
    width: calc(100% - 37px);
}

.listItem .content .header .username {
    color: #959595;
    font-family: 'Proxima N W01 Reg', serif;
    font-size: 14px;
    margin-right: 5px;
}

.listItem .content .header > * {
    display: inline-block;
}

.listItem .content .body {
    width: auto;
    display: block;
}

.listItem .content .footer {
    margin-top: -10px;
}