.closeButton {
    position: relative;
    color: #c2cbd2;
    border: 1px solid #c2cbd2;
    font-family: 'Proxima Nova W01 Medium', serif;
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 20px;
    border-radius: 15px;
}

.closeButton .icon {
    display: inline-block;
    cursor: pointer;
    content: ' ';
    background-image: url('./images/close.png');
    background-size: 16px 8px;
    background-repeat: no-repeat;
    width: 8px;
    height: 8px;
    background-position: 0 0;
    margin-right: 7px;
}

.closeButton:hover {
    border: 1px solid #1b83db;
    color: #1b83db;
}

.closeButton:hover .icon  {
    background-position: -8px 0;
}