.launcher {
    right: 40px;
    top: 20px;
    visibility: visible;
    display: block;
    z-index: 10000;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    position: fixed;
    bottom: 20px;
    width: 48px;
    height: 48px;
    -webkit-transform: translateZ(0);
}