.notification {
    display: none;
    position: absolute;
    top: calc(100% + 6px);
    right: -7px;
    width: 240px;
    height: auto;
    z-index: 10000;
}

.notification .body {
    background-color: #ffffff;
    border: none;
    box-shadow: none;
    color: #78909c;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    border-radius: 9px;
    position: relative;
    max-width: 100%;
}

.notification .body .arrowUp {
    position: absolute;
    top: -4px;
    right: 30px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid white;
}

.notification .body .embedBody {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    cursor: pointer;
    padding: 12px 17px;
}

.notification .body .embedBody p {
    margin: 0;
}

.notification .body .embedBody .userName {
    color: #3d4c53;
    font-family: 'Proxima Nova W01 Medium', serif;
}

.notification .body .embedBody .message {
    font-family: 'Proxima Nova W01 Medium', serif;
}
