.content {
    position: absolute;
    top: 15px;
    padding-top: 10px;
    padding-bottom: 80px;
    padding-left: 100px;
    padding-right: 100px;
    right: 0;
    width: 100%;
    -webkit-transform: translateZ(0);
}

.listContainer {
    padding-top: 0;
    padding-left: 13px;
    padding-right: 13px;
    padding-bottom: 0;
    display: block;
}

@media only screen and (max-width: 768px) {
    .content {
        padding-left: 0;
        padding-right: 0;
    }
}
