.hide {
    display: none;
}

.header {
    box-shadow: none;
    z-index: 2147483002;
    background: #fff;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 48px;
}

.header .description {
    float: left;
    margin-top: 5px;
    margin-left: 20px;
}

.header .description .avatar {
    border-radius: 50%;
    height: 35px;
    float: left;
}

.header .description .body {
    float: right;
    margin-left: 15px;
}

.header .description .body .name {
    font-family: 'Proxima N W01 Bold', serif;
    color: #3d4c53;
    font-size: 14px;
}

.header .description .body .role {
    font-family: 'Proxima N W01 Thin Reg', serif;
    font-weight: bold;
    color: #3d4c53;
    font-size: 12px;
}
