.metadataContainer {
    padding: 2px 2px 0;
    display: block;
}

.metadataContainer .metadata {
    float: left;
    margin-left: 30px;
    font-size: 12px;
    line-height: 20px;
    color: #b0bec5;
}

.metadataContainer .readState {
    color: #1b83db;
    font-size: 12px;
    float: right;
    margin-right: 30px;
    font-weight: bold;
}
