.profile {
    background-color: transparent;
    border: none;
    box-shadow: none;
    border-radius: 5px;
    display: block;
}

.profile .dataContainer {
    background-color: transparent;
    padding: 0;
    overflow: hidden;
}

.profile .dataContainer .data {
    text-align: center;
}

.profile .dataContainer .data .info {
    display: inline-block;
}

.profile .dataContainer .data .info .avatar {
    width: 107px;
    height: 107px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
}

.profile .dataContainer .data .info .avatar img {
    width: 100%;
    height: 100%;
}

.profile .dataContainer .data .info .name {
    font-family: 'Proxima N W01 Bold', serif;
    font-size: 16pt;
    color: #3d4c53;
    width: 150px;
    text-align: center;
    padding-top: 7px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.profile .dataContainer .data .info .title {
    font-family: 'Proxima N W01 Thin Reg', serif;
    font-weight: bold;
    font-size: 9.5pt;
    color: #3d4c53;
    text-align: center;
}

.profile .dataContainer .data .info .separator {
    height: 1px;
    width: 30px;
    background-color: #d4dae4;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}
