html,
body {
    height: 100%;
    width: 100%;
}

body {
    overflow: hidden;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#root {
    padding-left: 100px;
    padding-right: 100px;
    top:0;
    right:0;
    height:100%;
    background-color:#ffffff;
    overflow:auto;
    box-sizing:border-box;
    width: 100%;
}

@media screen and (max-width: 800px) {
    #root {
        padding-left: 0;
        padding-right: 0;
    }
}