body {
  margin-top: 80px;
  margin-bottom: 50px;
  background: none;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.full {
  background: url('./background.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar.transparent.navbar-inverse {
  border-width: 0px;
  -webkit-box-shadow: 0px 0px;
  box-shadow: 0px 0px;
  background-color: rgba(0,0,0,0.0);
  background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
  background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
  background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
}

#navbar{
  margin-top: 30px;
}
#navbar.navbar-inverse .navbar-nav > li > a {
  font-size: 11pt;
  color: white;
}
.bottom-columns p.title{
  font-size: 11pt;
}
.bottom-columns p.description{
  font-size: 14pt;
  font-family: 'PT Serif', serif;
}

#title {
  margin-top: 150px;
  margin-bottom: 150px;
}

#title .jumbotron {
  background-color: transparent;
}

#title .jumbotron h1 {
  font-size: 51pt;
}

#title .jumbotron p {
  font-size: 20pt;
  font-family: 'PT Serif', serif;
}

/* Intercom overrides */

#intercom-container {
  font-family: 'Proxima Nova W01 Medium', serif;
}

#intercom-container .intercom-composer-textarea-container {
  margin-bottom: 10px;
}

#intercom-container .intercom-launcher {
  visibility: visible;
}

#intercom-container .intercom-messenger {
  display: none;
}

#intercom-container.intercom-acquire .intercom-launcher-button{
  background-image: none;
}

#intercom-container .intercom-launcher {
  top: 20px;
}

#intercom-container.intercom-acquire .intercom-launcher-button .intercom-launcher-notification {
  font-size: 22px;
  line-height: 48px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
}

#intercom-container .intercom-active-admin-name {
  font-family: 'Proxima Nova W01 Medium', serif;
  font-size: 14pt;
  color: #3d4c53;
  width: 150px;
}

#intercom-container .intercom-admin-profile-text-container {
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 20px;
}

#intercom-container .intercom-sheet-header-generic-title, #intercom-container .intercom-sheet-header-title {
  font-family: 'Proxima Nova W01 Medium', serif;
}

#intercom-container .intercom-admin-profile-text-container .intercom-admin-profile-text {
  text-align: left;
  font-family: 'Proxima Nova W01 Medium', serif;
}

#intercom-container .intercom-comment-body p{
  font-family: 'Proxima Nova W01 Medium', serif;
}

#intercom-container .intercom-comment-by-user .intercom-comment-body-container {
  background-color: #1b83db;
}

#intercom-container .intercom-composer-textarea {
  width: 215px;
  display: inline-block;
  border-radius: 4px 0px 0px 4px;
}

#intercom-container .intercom-composer-textarea pre, #intercom-container .intercom-composer-textarea textarea {
  min-height: 44px;
}

#intercom-container .submit-button {
  margin-left: -4px;
}

#intercom-container .intercom-admin-profile {
  background-color: #f5f7fa;
  border: 1px solid #e6e9ee;
  box-shadow: none;
}

#intercom-container .intercom-admin-profile-data-container {
  background-color: transparent;
}

#intercom-container .intercom-sheet-body {
  background-color: #ffffff;
}

#intercom-container .intercom-sheet {
  width: 305px;
}

#intercom-container .intercom-powered-by-enabled .intercom-composer {
  padding: 8px 15px 0;
}

#intercom-container .intercom-admin-profile-text {
  color: #8599a2;
}

#intercom-container .intercom-composer-textarea pre, #intercom-container .intercom-composer-textarea textarea {
  padding: 10px 14px 5px 14px;
  background-color: #f5f6f8;
  color: #8599a2;
}

#intercom-container .submit-button {
  cursor: pointer;
}

#intercom-container .intercom-comment.intercom-comment-by-user {
  width: 100%;
  max-width: none;
}

#intercom-container .intercom-comment-body-container {
  width: 90%;
}

#intercom-container .intercom-comment-by-user {
  float: left;
  text-align: left;
}
