body {
  background: none;
  font-family: 'Montserrat', sans-serif;
  color: white;
  height: 100%;
}

/* Split view fix */

.full {
  height: 100%;
}

.split-layout {
  width: 100%;
  min-height: 100%;
  position: relative;
  overflow: hidden;
}

.page-content {
  background: url('./background.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  position: absolute;
  overflow: auto;
  /* These styles are just for centering the content, nothing else */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page-content > .container {
  max-width: 100%;
}

#navbar {
  position: absolute;
  width: 100%;
}

#navbar > .container {
  max-width: 100%;
}

#intercom-container .intercom-sheet {
  right: -320px;
}

/* Customization */

.navbar.transparent.navbar-inverse {
  border-width: 0px;
  -webkit-box-shadow: 0px 0px;
  box-shadow: 0px 0px;
  background-color: rgba(0,0,0,0.0);
  background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
  background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
  background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
}

/* Desktops and laptops ----------- */

#navbar.navbar-inverse .navbar-nav > li > a {
  color: white;
}
#title .jumbotron p {
  font-family: 'PT Serif', serif;
}
.bottom-columns p.description{
  font-family: 'PT Serif', serif;
}

.row.bottom-columns.text-center {
  margin-bottom: 20px;
}

/* big screen */
@media only screen  and (min-width : 1224px) {
  #title {
    margin-top: 150px;
    margin-bottom: 150px;
  }
  #title .jumbotron h1 {
    font-size: 51pt;
  }
  #title .jumbotron p {
    font-size: 20pt;
  }
  #navbar{
    padding-top: 30px;
  }
  #navbar.navbar-inverse .navbar-nav > li > a {
    font-size: 11pt;
  }
  .bottom-columns p.title{
    font-size: 11pt;
  }
  .bottom-columns p.description{
    font-size: 14pt;
  }
}

/* small screen */
@media only screen  and (max-width : 1224px) {
  #navbar{
    padding-top: 10px;
  }
  #title .jumbotron h1 {
    font-size: 31pt;
  }
  #title .jumbotron p {
    font-size: 15pt;
  }
  #navbar.navbar-inverse .navbar-nav > li > a {
    font-size: 11pt;
  }
  .bottom-columns p.title{
    font-size: 11pt;
  }
  .bottom-columns p.description{
    font-size: 11pt;
    font-family: 'PT Serif', serif;
  }
  /* style fix */
  .page-content > .container {
    padding-top: 15%;
  }
}

#title .jumbotron {
  background-color: transparent;
}

/* Intercom overrides */

#intercom-container {
  font-family: 'Proxima Nova W01 Medium', serif;
}

#intercom-container .intercom-composer-textarea-container {
  margin-bottom: 10px;
}

#intercom-container .intercom-launcher {
  visibility: visible;
  display: none;
}

#intercom-container.intercom-acquire .intercom-launcher-button{
  background-image: none;
}

#intercom-container .intercom-launcher {
  top: 20px;
}

#intercom-container.intercom-acquire .intercom-launcher-button .intercom-launcher-notification {
  font-size: 22px;
  line-height: 48px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
}

#intercom-container .intercom-active-admin-name {
  font-family: 'Proxima N W01 Bold', serif;
  font-size: 16pt;
  color: #3d4c53;
  width: 150px;
}

#intercom-container .intercom-active-admin-title {
  font-family: 'Proxima N W01 Thin Reg', serif;
  font-weight: bold;
  font-size: 9.5pt;
  color: #3d4c53;
  text-align: center;
}

#intercom-container .intercom-active-admin .intercom-separator {
  height: 1px;
  width: 30px;
  background-color: #d4dae4;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
}

#intercom-container .intercom-admin-profile-text-container {
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 20px;
}

#intercom-container .intercom-sheet-header-generic-title, #intercom-container .intercom-sheet-header-title {
  font-family: 'Proxima Nova W01 Medium', serif;
}

#intercom-container .intercom-admin-profile-text-container .intercom-admin-profile-text {
  text-align: left;
  font-family: 'Proxima Nova W01 Medium', serif;
}

#intercom-container .intercom-comment-body p, #intercom-container .intercom-comment-body span{
  font-family: 'Proxima Nova W01 Medium', serif;
}

#intercom-container .intercom-comment-by-user .intercom-comment-body-container {
  background-color: #1b83db;
}

#intercom-container .intercom-composer-textarea {
  width: 215px;
  display: inline-block;
  vertical-align: top;
  border-radius: 4px 0px 0px 4px;
}

#intercom-container .intercom-composer-textarea pre, #intercom-container .intercom-composer-textarea textarea {
  min-height: 44px;
}

#intercom-container .submit-button {
  margin-left: -4px;
}

#intercom-container .intercom-admin-profile {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

#intercom-container .intercom-app-profile-container {
  padding: 0;
}

/* Start Intercom sheet customizations */

#intercom-container .intercom-sheet-header {
  box-shadow: none;
}

#intercom-container .intercom-admin-profile-data-container {
  background-color: transparent;
  padding: 0;
}

#intercom-container .intercom-sheet-body {
  background-color: #ffffff;
}

#intercom-container .intercom-sheet {
  width: 320px;
}

#intercom-container .intercom-sheet-active .intercom-sheet-content {
  bottom: 80px;
}

/* End Intercom sheet customizations */

#intercom-container .intercom-powered-by-enabled .intercom-composer {
  padding: 15px 15px 0;
  background-color: white;
}

#intercom-container .intercom-admin-profile-text {
  color: #8599a2;
}

#intercom-container .intercom-composer-textarea pre, #intercom-container .intercom-composer-textarea textarea {
  padding: 10px 14px 5px 14px;
  background-color: #f5f6f8;
  color: #8599a2;
}

#intercom-container .submit-button {
  cursor: pointer;
}

#intercom-container .intercom-comment.intercom-comment-by-user {
  width: 100%;
  max-width: none;
}

#intercom-container .intercom-comment-by-user .intercom-comment-body-container .display-name {
  font-weight: bold;
}

#intercom-container .intercom-comment-body-container {
  width: 90%;
}

#intercom-container .intercom-comment-by-user {
  float: left;
  text-align: left;
}

#intercom-container .intercom-conversation-parts-container {
  padding-top: 0;
  padding-left: 13px;
  padding-right: 13px;
  padding-bottom: 0;
}

#intercom-container .intercom-composer-textarea textarea {
  border-radius: 4px 0px 0px 4px;
}

#intercom-container .submit-button {
  width: 57px;
  height: 46px;
}

#intercom-container .intercom-comment-by-admin {
  padding-left: 0px;
  width: 100%;
}

#intercom-container .intercom-comment-by-admin .intercom-comment-body-container {
  background-color: #f5f7fa;
  border: 1px solid #e6e9ee;
  box-shadow: none;
  color: #78909c;
}

#intercom-container .intercom-comment-by-admin .intercom-comment-body-container .display-name {
  color: #3d4c53;
  font-weight: bold;
}

#intercom-container .intercom-launcher-button.intercom-launcher-button-high-contrast {
  background-color: #ff2d50;
  border-color: transparent;
}

#intercom-container .intercom-comment-avatar {
  height: 24px;
  width: 24px;
}

#intercom-container .intercom-comment-by-admin .intercom-comment-body-container, #intercom-container .intercom-comment-by-user .intercom-comment-body-container {
  margin-right: 30px;
  margin-left: 30px;
  width: auto;
  display: block;
}

#intercom-container .intercom-comment-by-admin .intercom-comment-avatar {
  left: initial;
  right: 0;
}

#intercom-container .intercom-admin-profile-data .intercom-admin-avatar, #intercom-container .intercom-admin-profile-data .intercom-admin-avatar img {
  width: 107px;
  height: 107px;
}

/* Start Metadata overrides */

#intercom-container .intercom-comment-by-user .intercom-comment-metadata {
  float: left;
}

#intercom-container .intercom-comment-metadata {
  margin-left: 30px;
}

#intercom-container .intercom-comment-readstate {
  color: #1b83db;
  font-size: 12px;
  float: right;
  margin-right: 30px;
  font-weight: bold;
}
/* End Metadata overrides */

/* Start typing indicator */

#intercom-container .intercom-conversation-parts.typing-indicator {
  display: none;
}

#intercom-container .intercom-conversation-parts.typing-indicator .intercom-comment-body p {
  font-size: 30px;
}
#intercom-container .intercom-conversation-parts.typing-indicator .intercom-comment-body-container {
  float: right;
}

#intercom-container .intercom-conversation-parts.typing-indicator .intercom-comment-body-container .intercom-comment-body {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 10px;
  padding-right: 10px;
}

#intercom-container .intercom-conversation-parts.typing-indicator .intercom-comment-avatar {
  top: 0;
}


@keyframes blink {
  0% {
    color: #3d4c53;
  }
  50% {
    color: #e6e9ee;
  }
  100% {
    color: #3d4c53;
  }
}

.blink-animation {
  -moz-transition:all 0.5s ease-in-out;
  -webkit-transition:all 0.5s ease-in-out;
  -o-transition:all 0.5s ease-in-out;
  -ms-transition:all 0.5s ease-in-out;
  transition:all 0.5s ease-in-out;
  -moz-animation:blink normal 1.5s infinite ease-in-out;
  /* Firefox */
  -webkit-animation:blink normal 1.5s infinite ease-in-out;
  /* Webkit */
  -ms-animation:blink normal 1.5s infinite ease-in-out;
  /* IE */
  animation:blink normal 1.5s infinite ease-in-out;
  /* Opera */
}

/* End typing indicator */

/* Animation header indicator */

#intercom-container .intercom-sheet-header.admin-header {
  z-index: 2147483032;
  display: none;
  box-shadow: 0 3px 7px 0 rgba(119, 125, 145, 0.27);
}

#intercom-container .intercom-sheet-header.admin-header .admin-description {
  float: left;
  margin-top: 5px;
  margin-left: 20px;
}

#intercom-container .intercom-sheet-header.admin-header .admin-description .avatar {
  border-radius: 50%;
  height: 35px;
  float: left;
}

#intercom-container .intercom-sheet-header.admin-header .admin-description .admin-body {
  float: right;
  margin-left: 15px;
}

#intercom-container .intercom-sheet-header.admin-header .admin-description .admin-body .name{
  font-family: 'Proxima N W01 Bold', serif;
  color: #3d4c53;
  font-size: 14px;
}

#intercom-container .intercom-sheet-header.admin-header .admin-description .admin-body .title{
  font-family: 'Proxima N W01 Thin Reg', serif;
  font-weight: bold;
  color: #3d4c53;
  font-size: 12px;
}

/* Start Notifications CSS */

#intercom-container .intercom-launcher {
  right: 40px;
}

#intercom-container .notification-profile-container {
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 100;
  box-shadow: 0 0 31px -2px rgba(0,0,0,0.75);
}

#intercom-container .notification-profile-container img {
  height: 100%;
  width: 100%;
  position: relative;
  top: 4px;
  left: -1px;
  cursor: pointer;
}

#intercom-container .intercom-launcher-button.small {
  z-index: 101;
  height: 20px;
  width: 20px;
  top: -5px;
  right: -5px;
}

#intercom-container .intercom-launcher-button.small .intercom-launcher-notification {
  font-size: 12px;
  line-height: 20px;
}

#intercom-container .notification-container {
  display: none;
  position: fixed;
  top: 75px;
  right: 30px;
  width: 240px;
  height: auto;
  z-index: 2147483001;
}

#intercom-container .notification-container .intercom-comment-body-container {
  background-color: #ffffff;
  border: none;
  box-shadow: none;
  color: #78909c;
  width: 100%;
}

#intercom-container .notification-container .intercom-comment-body-container .intercom-comment-body p span.display-name {
  color: #3d4c53;
}

#intercom-container .notification-container .intercom-comment-body-container .intercom-comment-body.intercom-embed-body {
  cursor: pointer;
}

#intercom-container .notification-container .intercom-comment-body-container .intercom-comment-body.intercom-embed-body p {
  cursor: pointer;
}

#intercom-container .notification-container .intercom-comment-body-container .intercom-comment-body.intercom-embed-body p span {
  cursor: pointer;
}

#intercom-container .notification-container .intercom-comment-body-container .arrow-up {
  position: absolute;
  top: -4px;
  right: 30px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid white;
}

/* End Notifications CSS */

/* Modal testing code */

.modal {
  color: black;
}
